.carousel {
    position: relative;
    height: 80%;
    width: 80%;
    margin: 0 auto;
}

.carousel__track-container {
    
    padding: 10px;
    height: 100%;
    position: relative;
    overflow: hidden;
    display : flex;
    flex-direction: column;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel_button--left {
    left: -40px;
}

.carousel_button--right {
    right: -40px;
}

.carousel__nav {
    background: pink;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,.3);
    margin: 0 12px;
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background: rgba(0,0,0,.75);
}

.is-hidden {
    display: none;
}

.block-temoignage {
    background-color: #f76c6c;
    display: flex;
    height: 30rem;
    padding-left: 5.2rem;   
}

.left-temoignage {
    flex: 3;
    background-image: url('https://quartierlibre.co/sites/default/files/upload/IMG_20180831_181646.jpg');
    background-size: cover;
}

.right-temoignage {
    background-color: #f76c6c;
    width: 68%;
    padding-top: 2rem;
}

.carousel__title {
    background-color: white;
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    left: 45%;
    margin-bottom: 10px;
}

.carousel__jobprofile {
    background-color: white;
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    left: 55%;
    margin-bottom: 10px;
}

.carousel__profile-picture {
    border-radius: 50%;
    border: solid 0.3em;
    border-color: white;
}