@font-face {
  font-family: "Chomsky";
  src: url("../fonts/Chomsky.otf") format("otf"),
       url("../fonts/Chomsky.woff") format("woff");
}


/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------ Partie Middle ---------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/

body, p, ul, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    
}
body {
  margin-top: 1rem;
}

.Section-Middle {
  box-sizing: border-box;
  min-width: 66%;
  padding: 1rem;
  margin-top: 40px;
}

.Section-Middle-World {
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 40px;
}

.Section-temoignages{
    border-left: 1px solid lightgray;
    border-radius: 1px;
    padding: 1rem;
    column-count: 2;
  }

article {
  margin-bottom: 2rem;
}

/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------ Partie Header ---------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/

.header-titleblock {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
}

.navigation-ulist {
  display: flex;
  font-family: 'Playfair Display', serif;
  padding: 1rem;
}
  
.navigation-ulist li {
  display: flex;
  flex: auto;
  justify-content: center;
}

.navigation-link {
  text-decoration: none;
  color: black;
}

nav {
  border-top: 1px groove;
  border-bottom: solid 2px;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 99;
}

.site-title {
  font-size: 4rem;
  font-family: "Chomsky", serif;
}

/* ------------------------------------------------------------------------------------------------------*/
/* ---------------------------------- Partie Section-Article --------------------------------------------*/
.img-all{
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    float: left;
}

.cat {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  align-self: center;
  border: 1px solid #c83c53;
  border-left: 37px solid #c83c53;
  background-color: rgb(255, 255, 255);
  color: #c83c53;
  padding: 10px 20px;
}

.bouton, .bouton-temoignages {
  margin-bottom: 2rem;
}

/* ------------------------------------------------------------------------------------------------------*/
.title-Middle{
    text-align: left;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
    font-family: 'Roboto',sans-serif;
}

.articleCadre {
  border: 1px solid black;
}

.read-more-wrap{
    font-size: 1.3rem;
    font-family: 'Crimson Text', serif;
    text-align: justify;
    padding: 10px;
    margin: 0 auto;
}

.read-more-trigger{
  display: block;
  background-color: #F76C6C;
  color: white;
  height: auto;
  max-width: 30%;
  font-weight: bold;
  padding: 0.5rem;
  margin-left: 60%;
  margin-bottom: 30px;
  text-align: center;
}

.read-more-trigger:hover{
  cursor: pointer;
  background-color: white;
  border: 1px solid #F76C6C;
  color: #F76C6C;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Lire la suite';
  text-align: center;
  font-size: 1.3rem;
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Réduire';
  text-align: center;
  font-size: 1.3rem;
}

/* ------------------------------------------------------------------------------------------------------*/
/* ---------------------------------- Partie Section-Temoignages ----------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/



/* CSS pour les témoignages ici*/
.h2-temoignage{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    column-span: all;
    font-family: 'Roboto', sans-serif;
}

.logoLinkedin, .logoLinkedin:link:active, .logoLinkedin:visited:active{
    color: #006097;
}

.post-profils{
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.Nom-temoignages, .Phrase-temoignages{
  margin-bottom: 1rem;
}

.Phrase-temoignages{
    text-align: center;
}

.Section-temoignages{
    columns: 1;
}

.Container-Case-Temoignage {
  border: 1px solid black;
  padding: 5px;
}

/* ------------------------------------------------------------------------------------------------------*/
/* -------------------------------------- Partie Footer -------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/

.container-footer{
    background-color: #F76C6C;
    bottom: 0;
    margin: 0 auto;
    color: white;
   
    height: auto;
    display: flex;
    flex-direction: row;
}

#Logo-Wild{
    width: 30vw;
    height: auto;
    margin-right: 10%;
    justify-content: top;
}
 
.Liens-Externe {
  
  display: flex;
  flex-direction: column;
  margin-left: 0;
  justify-content: top;
}
.Liens-Externe a {
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}
     

.Liens-Externe  a:hover {
  text-decoration: underline;
  color: white;
}

.container-footer h3{
  font-size: 2rem;
}


.Nous-Contacter{
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.Nous-Contacter a {
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}

.Nous-Contacter a:hover {
  text-decoration: underline;
  color: white;
}
/* CSS pour le footer ici*/

/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------ Media queries ---------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 375px) {

  .block-temoignage {
    display: none;
  }
 
  li {
    list-style: none;
    font-size: 4rem;
  }
  
  .headerDestock {
    display: none;
  }

  .scroll-top {
	  display: block;
	  float: right;
    background-color: transparent;
    border: 1px solid #F76C6C;
	  border-radius: 3px;
	  color: #F76C6C;
	  padding: 15px;
	  position: fixed;
	  right: 20px;
	  bottom: 20px;
	  opacity: 1;
	  z-index: 99999;
	  font-size: 10px;
  }

  .h2-temoignage {
    display: none;
  }

  .img-all {
    max-width: 100%;
  }

  .container-footer {
    background-color: #F76C6C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-right: none;
    border-left: none;
  }

  .Nom-temoignages ,.post-profils, p {
    text-align: center;
  }

  .container-footer h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.2rem;
  }

  .container-footer a {
    text-align: center;
    margin-bottom: 0.2rem;
  }

  #Logo-Wild {
    width: 20vh;
    height: auto;
    text-align: center;
    margin-right: 0%;
  }

  .Lien-and-Contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .site-title {
    text-align: center;
    margin-right: 0%;
  }

.site-title{
  text-align: center;
  margin-right: 0%;
}

.navigation-ulist{
  border-radius: 5px;
  background-color: #F76C6C;
  margin: 0;
}

.navigation-link{
  color: white;
  text-decoration: none;
  margin-bottom: 1%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
}

.HearderMobileContent{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: solid 2px;
}

.buttonHead{
  border: 0;
  background-color: white;
}

.Icone{
  font-size: 1.3rem;
}

.collapsible{
  display: none;
}

.content-out{
  background-color: #F99797;
  position: absolute;
  width: 100%;
  text-align: center;
}

.navigation-ulistMobile{
  padding: 0;
  padding-left: 2vh;
  display: flex;
  flex-direction: column;
}

.navigation-link{
  margin-bottom: 2vh;
}

.headText{
  font-size: 0.8rem;
}

#Date{
  text-align: center;
  margin: 0;
  border-bottom: solid 2px;

}

.date{
  background-color: #F99797;
}

.HearderMobile{
  display: flex;
  flex-direction: column;
}

.site-title {
  margin: 0;
  font-size: 2rem;
  font-family: "Chomsky", serif;
}
}

@media screen and (min-width: 376px) and (max-width: 768px) {

  .block-temoignage {
    display: none;
  }
  
  .HearderMobile{
    display: none;
  }

  nav {
    border-top: 1px groove;
    border-bottom: solid 2px;
    position: sticky;
    top: 0px;
    background-color: white;
  }  

  .scroll-top {
    display: none;
  }

  #bouton-temoignages {
    display: none;
  }

  .img-all {
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    float: left;
  }

  .Container-All {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }

  .container-footer {
    background-color: #F76C6C;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-right: none;
    border-left: none;
    padding: 1rem;
  }

  .container-footer h3 {
    font-size: 1.5rem;
  }

  #Logo-Wild {
    width: 20vh;
    height: auto;
    align-items: baseline;
  }

  .Lien-and-Contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #temoignages-section {
    display: none;
  }

  .Section-temoignages {
    display: none;
  }

}

@media screen and (min-width: 769px) {

  .HearderMobile{
    display: none;
  }

  nav {
    border-top: 1px groove;
    border-bottom: solid 2px;
    position: sticky;
    top: 0px;
    background-color: white;
  }

  .scroll-top {
    display: none;
  }

  #bouton-temoignages {
    display: none;
  }

  .img-all {
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    float: left;
  }

  .Container-All {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }

  .container-footer {
    background-color: #F76C6C;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-right: none;
    border-left: none;
    padding: 1rem;
  }

  #Logo-Wild {
    width: 20vh;
    height: auto;
    align-items: baseline;
  }

  .Lien-and-Contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #temoignages-section {
    display: none;
  }
}