@font-face {
  font-family: "Chomsky";
  src: url("fonts/Chomsky.otf") format("otf"),
       url("fonts/Chomsky.woff") format("woff");
}
/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------ Partie Middle ---------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/

body, p, ul, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
body {
  margin-top: 1rem;
}
.Container-All{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.Section-Middle {
  box-sizing: border-box;
  min-width: 66%;
  padding: 1rem;
}
.Section-temoignages{
    border-left: 1px solid lightgray;
    border-radius: 1px;
    padding: 1rem;
    column-count: 2;
  }

article {
  margin-bottom: 2rem;
}

/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------ Partie Header ---------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/

.header-titleblock {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
}

.navigation-ulist {
  display: flex;
  font-family: 'Playfair Display', serif;
  padding: 1rem;
}
  
.navigation-ulist li {
  display: flex;
  flex: auto;
  justify-content: center;
}

.navigation-link {
  text-decoration: none;
  color: black;
}

nav {
  border-top: 1px groove;
  border-bottom: solid 2px;
  position: sticky;
  top: 0px;
  background-color: white;
}

.site-title {
  font-size: 4rem;
  font-family: "Chomsky", serif;
}

/* ------------------------------------------------------------------------------------------------------*/
/* ---------------------------------- Partie Section-Article --------------------------------------------*/
.img-all{
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
/* ------------------------------------------------------------------------------------------------------*/
.title-Middle{
    text-align: left;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
    margin-bottom: 1rem;
}
article:not(:first-of-type) .title-Middle {
  border-top: 1px solid lightgray;
}

.Texte-middle{
    font-size: 1.3rem;
    font-family: 'Crimson Text', serif;
    text-align: justify;
    padding: 10px;
}

.summary-Text{
  list-style: none;
  color: #A0A0A0;
  outline: none;
  background-color: #F76C6C;
  color: white;
  height: 40px;
  width: 22%;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 5px;
  margin-left: 70%;
  margin-bottom: 4%;
  text-align: center;
  position: relative;
}

.summary-Text:hover{
  cursor: pointer;
  background-color: white;
  border: 1px solid #F76C6C;
  color: #F76C6C;
}

details > summary::-webkit-details-marker {
  display: none;
}

 .articleCadre {
  border: 1px solid black;
}

/* ------------------------------------------------------------------------------------------------------*/
/* ---------------------------------- Partie Section-Temoignages ----------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/



/* CSS pour les témoignages ici*/
.h2-temoignage{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    column-span: all;
}

.logoLinkedin, .logoLinkedin:link:active, .logoLinkedin:visited:active{
    color: #006097;
}

.post-profils{
    font-style: italic;
    font-size: 0.6rem;
    margin-bottom: 1rem;
}

.Nom-temoignages, .Phrase-temoignages{
  margin-bottom: 1rem;
}

.Container-Case-Temoignage{
}

.Phrase-temoignages{
    font-size: 0.9rem;
}

/* ------------------------------------------------------------------------------------------------------*/
/* -------------------------------------- Partie Footer -------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/

.container-footer{
    background-color: #FFE8E8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-right: none;
    border-left: none;
    padding: 1rem;
}

#Logo-Wild{
    width: 15vh;
    height: 15vh;
}

.link-footer{
    text-decoration: none;
    color: black;
}

.Nous-Contacter{
    display: flex;
    flex-direction: row;
}

#h3-Nous-Contacter{
  margin-bottom: 1rem;
}

.Nous-Contacter-Contenu{
  margin-right: 1rem;
}
/* CSS pour le footer ici*/

.space-stack {
  margin-bottom: 1rem;
}