/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------ Partie Middle ---------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/

body{
    margin: 0;
}
.Container-All{
    display: flex;
    flex-direction: row;
}

.Section-Article{
    width: 80%;
}

.Section-temoignages{
    width: 20%;
    padding: 1vh;
    border-left: 2px solid black;
    border-radius: 1px;
    margin-top: 1vh;
}

/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------ Partie Header ---------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/

.header-titleblock {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 120px;
}

.navigation-ulist {
  display: flex;
  margin: 0px;
  padding: 15px;
  font-family: 'Playfair Display', serif;
  
}
  
.navigation-ulist li {
  display: flex;
  flex: auto;
  justify-content: center;
}

.navigation-link {
  text-decoration: none;
  color: black;
}

nav {
  border-top: 1px groove;
  border-bottom: solid 2px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  
}

.site-title {
  font-size: 4rem;
  font-family: "Chomsky", serif;
}

@font-face {
    font-family: "Chomsky";
    src: url("fonts/Chomsky.otf") format("otf"),
         url("fonts/Chomsky.woff") format("woff");
}




/* ------------------------------------------------------------------------------------------------------*/
/* ---------------------------------- Partie Section-Article --------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/

#News-Tittle{
    text-align: center;
    font-size: 2.5rem;
}

.paragraphe{
    width: 60%;
    text-align: justify;
}

.img-all{
    width: 40%;
    height: auto;
    float: left;
    margin-right: 2vh;
}

.title-Midlle{
    text-align: center;
    margin-top: 3rem;
}

.Texte-middle{
    font-size: 1.3rem;
    padding: 2vh;
    font-family: 'Crimson Text', serif;
    margin: 0;
}
 .summary-Text{
    list-style: none;
    text-decoration: underline;
    color: #A0A0A0;
    outline: none;
 }

 .summary-Text:hover{
    cursor: pointer;
 }

.Arcticle-All{
    display: flex;
    flex-direction: column;
}

.Suite-Text{
    padding-bottom: 0;
}

#integration-section{
    margin-top: 0;
}
/* ------------------------------------------------------------------------------------------------------*/
/* ---------------------------------- Partie Section-Temoignages ----------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/



/* CSS pour les témoignages ici*/
.h2-temoignage{
    text-align: center;
    margin-top: 0;
}

.logoLinkedin, .logoLinkedin:link:active, .logoLinkedin:visited:active{
    color: #006097;
}

.post-profils{
    font-style: italic;
    font-size: 0.6rem;
}

.Nom-temoignages, .Phrase-temoignages{
    margin-bottom: 1vh;
}

.Container-Case-Temoignage{
    border-bottom: 2px solid black;
}

.Phrase-temoignages{
    margin-bottom: 2vh;
    font-size: 0.8rem;
}

/* ------------------------------------------------------------------------------------------------------*/
/* -------------------------------------- Partie Footer -------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/

.container-footer{
    background-color: #FFE8E8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-right: none;
    border-left: none;
    margin-top: 1vh;
}

#Logo-Wild{
    width: 15vh;
    height: 15vh;
}

.Liens-Externe{
    display: flex;
    flex-direction: column;
}

.link-footer{
    margin-bottom: 1vh;
    text-decoration: none;
    color: black;
}

.Nous-Contacter{
    display: flex;
    flex-direction: row;
}

#h3-Nous-Contacter{
    margin-bottom: 0vh;
}

.Nous-Contacter-Contenu{
    margin-right: 1vh;
}
/* CSS pour le footer ici*/
