/* ------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------ Partie Header ---------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/

/*CSS pour le header ici*/



/* ------------------------------------------------------------------------------------------------------*/
/* ---------------------------------- Partie Section-Article --------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/



/*CSS pour les Articles ici*/



/* ------------------------------------------------------------------------------------------------------*/
/* ---------------------------------- Partie Section-Temoignages ----------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/



/* CSS pour les témoignages ici*/

.logoLinkedin, .logoLinkedin:link:active, .logoLinkedin:visited:active{
    color: #006097;
}

.post-profils{
    font-style: italic;
    font-size: 0.7rem;
}

.Nom-temoignages, .Phrase-temoignages{
    margin-bottom: 1vh;
}

/* ------------------------------------------------------------------------------------------------------*/
/* -------------------------------------- Partie Footer -------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------*/




/* CSS pour le footer ici*/
